// header/footer links and paragraph font type
$bookman-old-style: 'Bookman Old Style', sans-serif;

// navbar anchor links font type
$protestant: 'Protestant', sans-serif;

// titles font type
$fanklin-gothic: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;