// @use "./layouts";
// @use "./pages";
@use "./abstracts" as *;
@use "./base" as *;
@use "./components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin-right: auto;
  margin-left: auto;
}
