//primary background color
$brown-background: #442308;

//secondary background color
$cream-background: #f7f0e3;

//primary text colors
$black-text-color: #060e10;

//secondary text colors
$white-text-color: #ffff;

//third text color
$grey-text-color: #747474;
