@use "../abstracts" as *;

header {
  width: 100%;
  position: relative;
  min-height: 8em;

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10em;
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }

    @include media("<=tablet") {
      bottom: 0;
    }

    @include media("<=phoneL") {
      display: none;
    }
  }

  .wrapper {
    width: 100%;
    padding: $desktop-padding;
    @include flex(row, space-between, center);

    @include media("<=tablet") {
      padding: $mobile-padding;
    }

    .left {
      .logo {
        img {
          width: 100%;
          max-height: 25em;
          min-width: 10em;
        }
      }
    }

    .right {
      @include flex(row, center, center);
      position: relative;

      h5 {
        margin-right: 1em;
        color: $grey-text-color;

        @include media("<=tablet") {
          display: none;
        }
      }

      a {
        text-decoration: none;
        color: $grey-text-color;
        font-size: clamp(1.2rem, 1.5vw, 1.6rem);

        @include media("<=tablet") {
          display: none;
        }
      }
    }

    .mobile {
      display: none;

      @include media("<=tablet") {
        display: block;
      }
    }
  }
}
