@use "../abstracts" as *;

.home__hero {
  width: 100%;
  height: 100%;
  @include flex(row, center, center);
  flex-wrap: wrap;

  &--description {
    flex: 1 0 35em;
    @include flex(column, center, center);
    color: $white-text-color;
    z-index: 1;
    position: relative;
    aspect-ratio: 995/1000;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(62, 28, 0, 0.9);
      z-index: -1;
    }

    @include media("<tablet") {
      order: 2;
      aspect-ratio: auto;
    }

    .wrapper {
      @include flex(column, center, center);
      padding: 5em;
    }

    h1,
    p {
      text-align: center;
    }

    h1 {
      width: 5em;
      font-style: italic;
      margin-bottom: 0.5em;

      @include media("<tablet") {
        width: 100%;
      }
    }

    p {
      line-height: clamp(25px, 4vw, 45px);
      width: 100%;

      span {
        font-style: italic;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  &--photo {
    flex: 1 0 35em;
    aspect-ratio: 995/1000;
    display: flex;

    @include media("<tablet") {
      order: 1;
      aspect-ratio: auto;
    }

    img {
      width: 100%;
    }
  }
}
