@use "../abstracts" as *;

.home__hero {
  width: 100%;
  height: 100%;
  @include flex(row, center, center);
  flex-wrap: wrap;
  background: $brown-background;

  @include media("<tablet") {
    @include flex(column, center, center);
  }

  &--description {
    flex: 1;
    @include flex(column, center, center);
    color: $white-text-color;
    z-index: 1;
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(62, 28, 0, 0.9);
      z-index: -1;
    }

    @include media("<tablet") {
      order: 2;
      aspect-ratio: auto;
    }

    .wrapper {
      @include flex(column, center, center);
      padding: 5em;

      @include media("<=tablet") {
        padding: 2.5em;
      }
    }

    h1,
    p {
      text-align: center;
    }

    h1 {
      font-style: italic;
      line-height: 1.25em;

      @include media("<tablet") {
        width: 100%;
      }
    }

    p {
      margin-top: 5.5em;
      line-height: clamp(25px, 4vw, 45px);
      width: 100%;

      @include media("<=tablet") {
        margin-top: 2.5em;
      }

      span {
        font-style: italic;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  &--photo {
    flex: 1;
    aspect-ratio: 1/1;
    display: flex;

    @include media("<tablet") {
      order: 1;
      // aspect-ratio: auto;
    }

    img {
      width: 100%;
    }
  }
}

.second-hero {
  order: 2;
  background: $cream-background;
  color: $brown-background;

  &::after {
    display: none;
  }
}

.no-overlay {
  background: $brown-background;

  &::after {
    display: none;
  }
}
