@use "../abstracts" as *;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 4;

  @include media(">tablet") {
    display: none;
  }

  &__contacts {
    width: 100%;
    height: 5em;
    @include flex(row, flex-start, center);
    padding: $desktop-padding;
  }
}
