@use "../abstracts/" as *;

nav {
  min-height: 10em;
  width: 100%;
  padding: $desktop-padding;
  @include flex(row, center, center);
  // box-shadow: 0px 30px 20px 0px #f8f8f8;
  background: white;
  z-index: 1;

  @include media("<=tablet") {
    min-height: 0;
  }
}

.burger-menu-button {
  padding: 1em;
  border-radius: 10px;
  background: $cream-background;
  display: none;
  cursor: pointer;

  @include media("<=tablet") {
    display: block;
    position: fixed;
    top: calc(10 * 1vh);
    right: calc(5 * 1vw);
    z-index: 5;
  }
}

.inner-wrapper {
  @include media("<=tablet") {
    @include flex(column, center, center);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 425px;
    min-height: 100vh;
    display: none;

    &.active {
      display: block;
      z-index: 4;
      overflow-y: scroll;
    }
  }
}

.navbar {
  width: 100%;
  @include flex(row, center, center);

  @include media("<=tablet") {
    @include flex(column, flex-start, baseline);
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15vh;
    background: white;
    display: none;

    &.active {
      display: block;
    }
  }

  li {
    list-style: none;
    margin: 1em 4em;

    @include media("<=tablet") {
      margin: 0;
      padding: 4em;
      border-bottom: 1px solid #d6d6d6;
    }
  }

  .underlined {
    text-decoration: none;
    background-image: linear-gradient(
      to right,
      rgb(222, 205, 114, 60%) 0,
      rgb(222, 205, 114, 60%) 100%
    );
    background-position: 0 0.6em;
    background-size: 0 200%;
    background-repeat: no-repeat;
    transition: background 0.35s;

    &:hover {
      background-size: 100% 200%;
    }

    &--offset {
      background-position: 0 0.6em;
      box-shadow: inset 0 0.5em 0 0 white;
    }
  }
  .nav-link {
    text-decoration: none;
    font-size: clamp(1.8rem, 1.5vw, 2.4rem);
    color: $black-text-color;
    letter-spacing: 3px;

    @include media("<=tablet") {
      color: $brown-background;
    }
  }

  .contacts {
    @include media(">tablet") {
      display: none;
    }

    width: 100%;
    height: 5em;
    @include flex(row, flex-start, center);
    padding: 4em;

    h5 {
      margin-right: 1em;
      color: $grey-text-color;
    }

    a {
      text-decoration: none;
      color: $grey-text-color;
      font-size: 1.8rem;
    }
  }
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}
