@use "../abstracts/" as *;

.contact__main--opening-hours {
  min-height: 50vh;
  @include flex(column, center, center);
  padding: 2em 0;

  .header {
    height: 8vw;
  }

  .wrapper {
    height: 100%;
    min-width: 40em;
    padding-bottom: 2em;

    @include media("<=tablet") {
      min-width: 30em;
    }

    @include media("<=phone") {
      min-width: 100%;
    }

    .hours {
      @include flex(row, space-between, center);
      padding: 1em 0;

      h4 {
        font-style: italic;
      }
    }
  }
}
