@use "../abstracts" as *;

.parallax-wrapper {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  @include flex(column, center, center);
  padding: $desktop-padding;

  @include media("<tablet") {
    padding: $mobile-padding;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(62, 28, 0, 0.95);
    z-index: "0";
  }

  @include media("<=tablet") {
    height: 30vh;
  }

  @include media("<=phoneL") {
    height: 25vh;
  }

  .parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  h2,
  a {
    z-index: 1;
    color: $white-text-color;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: clamp(1.8rem, 5vw, 3.8rem);
    padding-top: 1em;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    letter-spacing: 4px;

    @include media("<tablet") {
      letter-spacing: 2px;
    }

    @include media("<phoneL") {
      letter-spacing: 0.5px;
    }
  }
}
