@use "../abstracts" as *;

.parallax-wrapper {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(62, 28, 0, 0.95);
    z-index: "0";
  }

  @include media("<=tablet") {
    height: 30vh;
  }

  @include media("<=phoneL") {
    height: 25vh;
  }

  .parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
