@use "../abstracts/" as *;

.about {
  &__main {
    padding: $desktop-padding;
    @include flex(row, center, center);
    min-height: 100vh;
    background-image: url(../../assets/Images/About/about-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;

    /* iPad Pro */
    @media screen and (min-width: 1024px) and (min-height: 1366px) {
      min-height: 60vh;
    }

    &::after {
      content: "";
      background-color: rgba(255, 255, 255, 0.97);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--description {
      z-index: 1;
    }
  }
}
