@use "../abstracts" as *;

.gallery-hero {
  min-height: 10vh;
  width: 100%;
  @include flex(column, center, center);
  padding: $desktop-padding;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  background: white;

  &__header {
    padding-bottom: 3em;
  }
}

.gallery-main {
  min-height: 100vh;
  padding: $desktop-padding;
  @include flex(row, center, center);
  padding-top: 5vw;
  padding-bottom: 5vw;

  @include media("<=tablet") {
    padding: $mobile-padding;
  }

  .container {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));

    &__card {
      height: 30em;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
