@use "../abstracts" as *;

main {
  background: white;
  width: 100%;
  position: relative;

  .container {
    width: 100%;
    min-height: 60vw;
    @include flex(row, center, center);
    z-index: 0;
    margin: 70em 0;
    position: relative;

    @include media("<=SMdesktop") {
      margin: 40em 0;
    }

    @include media("<tablet") {
      margin: 0;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      width: 30vw;
      background: $cream-background;

      @include media("<=SMdesktop") {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      pointer-events: none;
      top: 0;
      bottom: 0;
      right: 0;
      width: 70vw;
      background: $brown-background;

      @include media("<=SMdesktop") {
        width: 100%;
      }
    }

    &__wrapper {
      width: 100%;
      height: 100%;

      .img-wrapper {
        min-height: 80vh;
        @include flex(row, center, center);
        position: relative;

        @include media("<=SMdesktop") {
          min-height: 50vh;
          margin: $desktop-padding;
        }

        @include media("<tablet") {
          display: block;
          margin: 0;
        }
      }

      .description {
        // border: 1px solid black;
        width: 100%;
        height: 50em;
        @include flex(row, flex-end, center);
        padding: 0 10vw;

        @include media("<=SMdesktop") {
          padding: 0;
          height: 100%;
          @include flex(row, center, center);
        }

        &__wrapper {
          width: 35vw;
          min-height: 50em;
          @include flex(column, flex-start, center);

          @include media("<=SMdesktop") {
            min-height: 25em;
            width: 768px;
            padding: $desktop-padding;
            padding-top: 2em;
            padding-bottom: 2em;
          }

          @include media("<tablet") {
            padding-top: 5em;
            padding-bottom: 5em;
          }

          @include media("<=phoneL") {
            min-height: 20em;
            padding: $mobile-padding;
            padding-top: 5em;
            padding-bottom: 5em;
          }

          p {
            color: $white-text-color;
            text-align: center;
            line-height: clamp(25px, 4vw, 45px);
          }

          .button {
            border: 1px solid $white-text-color;
            padding: 2.5vw 5vw;
            margin-top: 4em;
            @include flex(row, center, center);
            text-decoration: none;
            font-size: clamp(1.6rem, 2.5vw, 2.6rem);
            letter-spacing: 3px;
            color: $white-text-color;
            background: $brown-background;
            transition: background 0.35s ease;

            &:hover {
              background: rgba(255, 255, 255, 0.2);
            }

            @include media("<=SMdesktop") {
              margin-top: 2em;
            }

            @include media("<=phoneL") {
              padding: 6.5vw 5vw;
            }
          }
        }
      }
    }

    &__left {
      flex: 0.45;
      height: 100%;
      background: $cream-background;
    }

    &__right {
      flex: 1;
      height: 100%;
      background: $brown-background;
    }
  }

  img {
    position: relative;
    left: calc(100% / 2);
    transform: translateX(-50%);
    object-fit: cover;

    @include media("<tablet") {
      position: relative;
      width: 100%;
      height: 45em;
    }
  }
}

.first {
  top: -35vw;
  left: 0;
  width: 45vw;

  @include media("<=SMdesktop") {
    position: absolute;
    top: -40vw;
    width: 40vw;
    height: 40vw;
  }

  @include media("<=tablet") {
    top: -35vw;
  }

  @include media("<tablet") {
    top: 0;
  }
}

.second {
  top: -30vw;
  right: 0;
  width: 35vw;
  margin-right: calc(10 * 1vw);

  @include media("<=SMdesktop") {
    margin-right: 0;
    position: absolute;
    top: -40vw;
    width: 40vw;
    height: 40vw;
  }

  @include media("<=tablet") {
    top: -35vw;
  }

  @include media("<tablet") {
    top: 0;
  }
}

.third {
  width: 60vw;
  height: 50vw;
  bottom: -45vw;
  left: 50%;
  transform: translateX(-50%);

  @include media("<=SMdesktop") {
    margin-right: 0;
    position: absolute;
    bottom: -55vw;
  }

  @include media("<=tablet") {
    bottom: -45vw;
  }

  @include media("<tablet") {
    top: 0;
  }
}
